<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.algorithm.mapper.PathMapper">
  <resultMap id="BaseResultMap" type="com.example.algorithm.domain.po.Path">
    <id column="ph_id" jdbcType="INTEGER" property="phId" />
    <result column="ph_name" jdbcType="VARCHAR" property="phName" />
    <result column="ph_father_id" jdbcType="INTEGER" property="phFatherId" />
    <result column="ph_layer" jdbcType="INTEGER" property="phLayer" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ph_id, ph_name, ph_father_id, ph_layer, is_delete, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from algorithm.path
    where ph_id = #{phId,jdbcType=INTEGER}
  </select>
  <select id="selectByPhName" resultType="com.example.algorithm.domain.po.Path">
    select
    <include refid="Base_Column_List" />
    from algorithm.path
    where ph_name = #{phPath,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from algorithm.path
    where ph_id = #{phId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ph_id" keyProperty="phId" parameterType="com.example.algorithm.domain.po.Path" useGeneratedKeys="true">
    insert into algorithm.path (ph_name, ph_father_id, ph_layer,
      is_delete, create_time, modify_time
      )
    values (#{phName,jdbcType=VARCHAR}, #{phFatherId,jdbcType=INTEGER}, #{phLayer,jdbcType=INTEGER}, 
      1, now(), now()
      )
  </insert>
  <insert id="insertSelective" keyColumn="ph_id" keyProperty="phId" parameterType="com.example.algorithm.domain.po.Path" useGeneratedKeys="true">
    insert into algorithm.path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phName != null">
        ph_name,
      </if>
      <if test="phFatherId != null">
        ph_father_id,
      </if>
      <if test="phLayer != null">
        ph_layer,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phName != null">
        #{phName,jdbcType=VARCHAR},
      </if>
      <if test="phFatherId != null">
        #{phFatherId,jdbcType=INTEGER},
      </if>
      <if test="phLayer != null">
        #{phLayer,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.algorithm.domain.po.Path">
    update algorithm.path
    <set>
      <if test="phName != null">
        ph_name = #{phName,jdbcType=VARCHAR},
      </if>
      <if test="phFatherId != null">
        ph_father_id = #{phFatherId,jdbcType=INTEGER},
      </if>
      <if test="phLayer != null">
        ph_layer = #{phLayer,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ph_id = #{phId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.algorithm.domain.po.Path">
    update algorithm.path
    set ph_name = #{phName,jdbcType=VARCHAR},
      ph_father_id = #{phFatherId,jdbcType=INTEGER},
      ph_layer = #{phLayer,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BOOLEAN},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where ph_id = #{phId,jdbcType=INTEGER}
  </update>
</mapper>