<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.algorithm.mapper.PermissionGroupMapper">
  <resultMap id="BaseResultMap" type="com.example.algorithm.domain.po.PermissionGroup">
    <id column="pr_id" jdbcType="INTEGER" property="prId" />
    <result column="pr_name" jdbcType="VARCHAR" property="prName" />
    <result column="pr_permission" jdbcType="VARCHAR" property="prPermission" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    pr_id, pr_name, pr_permission, is_delete, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from algorithm.permission_group
    where pr_id = #{prId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from algorithm.permission_group
    where pr_id = #{prId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pr_id" keyProperty="prId" parameterType="com.example.algorithm.domain.po.PermissionGroup" useGeneratedKeys="true">
    insert into algorithm.permission_group (pr_name, pr_permission, is_delete,
      create_time, modify_time)
    values (#{prName,jdbcType=VARCHAR}, #{prPermission,jdbcType=VARCHAR}, #{isDelete,jdbcType=BOOLEAN}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="pr_id" keyProperty="prId" parameterType="com.example.algorithm.domain.po.PermissionGroup" useGeneratedKeys="true">
    insert into algorithm.permission_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prName != null">
        pr_name,
      </if>
      <if test="prPermission != null">
        pr_permission,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prName != null">
        #{prName,jdbcType=VARCHAR},
      </if>
      <if test="prPermission != null">
        #{prPermission,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.algorithm.domain.po.PermissionGroup">
    update algorithm.permission_group
    <set>
      <if test="prName != null">
        pr_name = #{prName,jdbcType=VARCHAR},
      </if>
      <if test="prPermission != null">
        pr_permission = #{prPermission,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pr_id = #{prId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.algorithm.domain.po.PermissionGroup">
    update algorithm.permission_group
    set pr_name = #{prName,jdbcType=VARCHAR},
      pr_permission = #{prPermission,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BOOLEAN},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where pr_id = #{prId,jdbcType=INTEGER}
  </update>
</mapper>