<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.algorithm.mapper.StudentClassMapper">
  <resultMap id="BaseResultMap" type="com.example.algorithm.domain.po.StudentClass">
    <id column="sc_id" jdbcType="INTEGER" property="scId" />
    <result column="sc_class_id" jdbcType="INTEGER" property="scClassId" />
    <result column="sc_student_id" jdbcType="INTEGER" property="scStudentId" />
    <result column="is_delete" jdbcType="BOOLEAN" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    sc_id, sc_class_id, sc_student_id, is_delete, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from algorithm.student_class
    where sc_id = #{scId,jdbcType=INTEGER}
  </select>
  <select id="selectByClass" resultType="java.lang.Integer">
    select sc_student_id
    from algorithm.student_class
    where sc_class_id = #{informationFromClass,jdbcType=INTEGER}
    and is_delete = 1
  </select>
  <select id="countByClassId" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM algorithm.student_class
    WHERE sc_class_id = #{classId,jdbcType=INTEGER}
    AND is_delete = 1
  </select>
  <select id="selectStudentId" resultType="java.lang.Integer">
    select sc_student_id
    from algorithm.student_class
    where sc_class_id = #{classId,jdbcType=INTEGER}
  </select>
    <select id="selectClassByStudentId" resultType="java.lang.Integer">
      select sc_class_id
      from algorithm.student_class
      where sc_student_id = #{studentId,jdbcType=INTEGER}
        and is_delete = 1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from algorithm.student_class
    where sc_id = #{scId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="sc_id" keyProperty="scId" parameterType="com.example.algorithm.domain.po.StudentClass" useGeneratedKeys="true">
    insert into algorithm.student_class (sc_class_id, sc_student_id, is_delete,
      create_time, modify_time)
    values (#{scClassId,jdbcType=INTEGER}, #{scStudentId,jdbcType=INTEGER}, 1, now(), now())
  </insert>
  <insert id="insertSelective" keyColumn="sc_id" keyProperty="scId" parameterType="com.example.algorithm.domain.po.StudentClass" useGeneratedKeys="true">
    insert into algorithm.student_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scClassId != null">
        sc_class_id,
      </if>
      <if test="scStudentId != null">
        sc_student_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scClassId != null">
        #{scClassId,jdbcType=INTEGER},
      </if>
      <if test="scStudentId != null">
        #{scStudentId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.algorithm.domain.po.StudentClass">
    update algorithm.student_class
    <set>
      <if test="scClassId != null">
        sc_class_id = #{scClassId,jdbcType=INTEGER},
      </if>
      <if test="scStudentId != null">
        sc_student_id = #{scStudentId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BOOLEAN},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.algorithm.domain.po.StudentClass">
    update algorithm.student_class
    set sc_class_id = #{scClassId,jdbcType=INTEGER},
      sc_student_id = #{scStudentId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BOOLEAN},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
</mapper>